[submodule "programming/c/termsole"]
	path = programming/c/termsole
	url = https://github.com/Anonrate/termsole
[submodule "programming/c/osnfo"]
	path = programming/c/osnfo
	url = https://github.com/Anonrate/osnfo
